@using FocLab.Logic
@using Microsoft.AspNetCore.Html
@model List<FocLab.Logic.Models.Experiments.ChemistryTaskExperimentModel>
@{
    var grouped = Model.GroupBy(x => x.Task.Id).ToList();

    Layout = ChemistrySettings.LayoutPath;
    ViewBag.Title = "Все эксперименты";
}

<h2>
    Все эскперименты по заданиям
    <span class="m-badge m-badge--success">
        @(grouped.Sum(x => x.Count()))
    </span>
</h2>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    <strong>
                        Задание
                    </strong>
                </th>

                <th>
                    <strong>
                        Эксперименты
                    </strong>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var group in grouped)
            {
                <tr>
                    <td>
                        <a href="/Chemistry/Tasks/Task/@group.First().Task.Id">
                            @group.First().Task.Title
                        </a>
                        
                    </td>

                    <td>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <strong>
                                            Название эксперимента
                                        </strong>
                                    </th>

                                    <th>
                                        <strong>
                                            Пользователь
                                        </strong>
                                    </th>

                                    <th>
                                        <strong>
                                            Дата выполнения
                                        </strong>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var experiment in group)
                                {
                                    var experimentTitle = string.IsNullOrEmpty((experiment.Title ?? "").Trim()) ? "[Без названия]" : experiment.Title;

                                    <tr>
                                        <td>
                                            <a href="/Chemistry/Experiments/Experiment/@experiment.Id">
                                                @experimentTitle
                                            </a>
                                        </td>

                                        <td>
                                            <a href="/Chemistry/Tasks/Index/@experiment.Performer.Id">
                                                @experiment.Performer.Name
                                            </a>
                                        </td>

                                        <td>
                                            @if (experiment.PerformedDate.HasValue)
                                            {
                                                @experiment.PerformedDate.Value
                                            }
                                            else
                                            {
                                                @(new HtmlString("[Не выполнен]"))
                                            }
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


