@model List<FocLab.Logic.Models.Experiments.ChemistryTaskExperimentModel>
@{
    Layout = ChemistrySettings.LayoutPath;
    ViewBag.Title = "Список экспериментов";
}

<div class="row">
    <div class="col-md-12">
        <a href="/Chemistry/Experiments/Create" class="btn btn-primary">
            <i class="fa fa-plus-circle"></i>
            Создать
        </a>

        <a href="/Chemistry/Experiments/All" class="btn btn-primary">
            <i class="fa fa-list-ol"></i>
            Показать все эксперименты
        </a>
    </div>
</div>

<div style="height:20px">

</div>

<h2>
    Ваши незавершенные эксперименты <span class="m-badge m-badge--success">@Model.Count(x => !x.PerformedDate.HasValue)</span>
</h2>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <strong>Эксперимент</strong>
                </th>

                <th>
                    <strong>Задача</strong>
                </th>

                <th>
                    <strong>Дата создания</strong>
                </th>

                <th>
                    <strong>Действия</strong>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var experiment in Model.Where(x => !x.PerformedDate.HasValue))
            {

                var title = string.IsNullOrWhiteSpace(experiment.Title) ? "[Без названия]" : experiment.Title;

            <tr>
                <td>
                    <a href="/Chemistry/Experiments/Experiment/@experiment.Id">
                        @title
                    </a>
                </td>

                <td>
                    <a href="/Chemistry/Tasks/Task/@experiment.Task.Id">
                        @experiment.Task.Title
                    </a>
                </td>

                <td>
                    @experiment.CreationDate
                </td>

                <td>
                    <div class="row">
                        <div class="col-md-12">


                            <button class="btn btn-block btn-primary exp-perform-btn" href="#" data-id="@experiment.Id">
                                <i class="fa fa-anchor"></i>
                                Выполнить
                            </button>


                            @if (experiment.Deleted)
                            {
                                <button class="btn btn-block btn-warning exp-cancel-remove-btn" style="margin-top:10px" data-id="@experiment.Id">
                                    <i class="fa fa-trash"></i>
                                    Отменить удаление
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-block btn-danger exp-remove-btn" href="#" style="margin-top:10px" data-id="@experiment.Id">
                                    <i class="fa fa-trash"></i>
                                    Удалить
                                </button>
                            }
                        </div>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div style="height:40px">

</div>

<h2>
    Ваши завершенные эксперименты <span class="m-badge m-badge--success">@Model.Count(x => x.PerformedDate.HasValue)</span>
</h2>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <strong>Эксперимент</strong>
                </th>

                <th>
                    <strong>Задача</strong>
                </th>

                <th>
                    <strong>Дата создания</strong>
                </th>

                <th>
                    <strong>Дата выполнения</strong>
                </th>

                <th>
                    <strong>Действия</strong>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var experiment in Model.Where(x => x.PerformedDate.HasValue))
            {
                var title = string.IsNullOrWhiteSpace(experiment.Title) ? "[Без названия]" : experiment.Title;
                <tr>
                    
                    <td>
                        <a href="/Chemistry/Experiments/Experiment/@experiment.Id">
                            @title
                        </a>
                    </td>

                    <td>
                        <a href="/Chemistry/Tasks/Task/@experiment.Task.Id">
                            @experiment.Task.Title
                        </a>
                    </td>

                    <td>
                        @experiment.CreationDate
                    </td>

                    <td>
                        @experiment.PerformedDate.Value
                    </td>

                    <td>
                        <div class="row">
                            <div class="col-md-12">


                                <button class="btn btn-block btn-primary exp-cancel-perform-btn" href="#" data-id="@experiment.Id">
                                    <i class="fa fa-anchor"></i>
                                    Отменить выполнение
                                </button>


                                @if (experiment.Deleted)
                                {
                                    <button class="btn btn-block btn-warning exp-cancel-remove-btn" data-id="@experiment.Id" href="#" style="margin-top:10px">
                                        <i class="fa fa-trash"></i>
                                        Отменить удаление
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-block btn-danger exp-remove-btn" data-id="@experiment.Id" href="#" style="margin-top:10px">
                                        <i class="fa fa-trash"></i>
                                        Удалить
                                    </button>
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{

    <script src="~/js/Experiments.min.js"></script>
}