@model List<CrocoShop.Logic.Workers.Documentation.HubDocumentation>
@{
    Layout = AdminUiSettings.LayoutPath;
}


<div class="m-content">

    <!--begin::Portlet-->
    <div class="m-portlet m-portlet--space">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        SignalR Hubs - документация
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a href="#" class="m-portlet__nav-link m-btn--pill">
                            <div class="m-input-icon m-input-icon--right">
                                <input type="text" class="form-control form-control-lg m-input m-input--solid m-input--pill" placeholder="Search FAQ...">
                                <span class="m-input-icon__icon m-input-icon__icon--right">
                                    <span>
                                        <i class="la la-search m--font-brand"></i>
                                    </span>
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-xl-3">
                    <div class="m-tabs" data-tabs="true" data-tabs-contents="#m_sections">
                        <ul class="m-nav m-nav--active-bg m-nav--active-bg-padding-lg m-nav--font-lg m-nav--font-bold m--margin-bottom-20 m--margin-top-10 m--margin-right-40" id="m_nav" role="tablist">

                            @foreach (var hubDocumentation in Model)
                            {
                                var uniqueNameId = $"m_section_{hubDocumentation.HubTypeCallName}";

                                <li class="m-nav__item">
                                    <a class="m-nav__link  m-tabs__item" data-tab-target="#@uniqueNameId" href="#">
                                        <span class="m-nav__link-text">@hubDocumentation.Name @hubDocumentation.HubTypeCallName</span>
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="m-tabs-content" id="m_sections">


                        @foreach (var hubDocumentation in Model)
                        {
                            var uniqueNameId = $"m_section_{hubDocumentation.HubTypeCallName}";

                            var activeClass = "m-tabs-content__item--active";

                            var currentClass = Model.Count == 1 ? activeClass : "";

                            <div class="m-tabs-content__item @currentClass" id="@uniqueNameId">
                                <h4 class="m--font-bold m--margin-top-15 m--margin-bottom-20">@hubDocumentation.Name</h4>
                                <div class="m-accordion m-accordion--bordered" id="@(uniqueNameId)_content">

                                    @{
                                        var count = 0;
                                    }

                                    @foreach (var method in hubDocumentation.Methods)
                                    {
                                        //m-tabs-content__item m-tabs-content__item--active

                                        var callName = $"{hubDocumentation.HubTypeCallName}.{method.Name}";

                                        var hasParamText = method.ParameterModel != null ? "param" : "";

                                        var callServer = $"{hubDocumentation.HubTypeCallName}.server.{method.Name}({hasParamText})";

                                        var callBackClient = $"{hubDocumentation.HubTypeCallName}.client.{method.OnCompleteFunction}";

                                        var callServerText = method.ParameterModel != null ?
                                            $"Нужно вызвать у себя {callServer} с параметром запроса описанным ниже" :
                                            $"Нужно вызвать у себя {callServer}";

                                        <!--begin::Item-->
                                        <div class="m-accordion__item">
                                            <div class="m-accordion__item-head collapsed" aria-expanded="false" role="tab" id="@(uniqueNameId)_content_@(count)_head" data-toggle="collapse" href="#@(uniqueNameId)_content_@(count)_body">
                                                <span class="m-accordion__item-icon">
                                                    <i class="flaticon-gift"></i>
                                                </span>
                                                <span class="m-accordion__item-title">@callName - @method.Description</span>
                                                <span class="m-accordion__item-mode"></span>
                                            </div>
                                            <div class="m-accordion__item-body collapse" id="@(uniqueNameId)_content_@(count)_body" role="tabpanel" aria-labelledby="@(uniqueNameId)_content_@(count)_head" data-parent="#@(uniqueNameId)_content">
                                                <div class="m-accordion__item-content">
                                                    <p>
                                                        @callServerText
                                                    </p>

                                                    @if (method.ParameterModel != null)
                                                    {
                                                        <p>
                                                            Описание модели запроса <a href="/Admin/Documentation/Class?typeName=@method.ParameterModel.FullTypeName">@method.ParameterModel.DisplayName</a>
                                                        </p>

                                                        <textarea style="width: 500px;">@method.ParameterModel.JsonExample</textarea>
                                                    }

                                                    <p>
                                                        В ответ сервер вызовет функцию установленную на вашем клиенте @callBackClient c параметром ответа описанным ниже
                                                    </p>

                                                    @if (method.ResponseModel != null)
                                                    {
                                                        <p>
                                                            Описание модели ответа <a href="/Admin/Documentation/Class?typeName=@method.ResponseModel.FullTypeName">@method.ResponseModel.DisplayName</a>
                                                        </p>

                                                        <textarea style="width: 500px;">@method.ResponseModel.JsonExample</textarea>
                                                    }

                                                </div>
                                            </div>
                                        </div>

                                        <!--end::Item-->

                                        count++;

                                    }



                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--end::Portlet-->
</div>

