@using FocLab.Logic.EntityDtos.Users.Default
@model List<FocLab.Logic.Models.Tasks.ChemistryTaskModel>
@{
    Layout = null;

    var dateNow = DateTime.Now;

    var user = ViewData["User"] as ApplicationUserDto;

    var isEmailSet = user != null;

    var tasks = isEmailSet ? Model.Where(x => x.PerformerUser.Id == user.Id).ToList() : Model;

    var sortSelect = new List<SelectListItem>
    {
        new SelectListItem
        {
            Text = "Не сортировать",
            Value = "0"
        },

        new SelectListItem
        {
            Text = "По дате выполнения",
            Value = "1",
        },

        new SelectListItem
        {
            Text = "По имени исполнителя",
            Value = "2",
        }
    };

    var statusSelect = new List<SelectListItem>
    {
        new SelectListItem
        {
            Selected = true,
            Text = "Все",
            Value = ""
        },
        new SelectListItem
        {
            Text = "Выполненные",
            Value = true.ToString()
        },
        new SelectListItem
        {
            Text = "Не выполненные",
            Value = false.ToString()
        }
    };

    var usersSelectList = ViewData["usersSelectList"] as List<SelectListItem>;

    var tasksSelectList = ViewData["tasksSelectList"] as List<SelectListItem>;
}

<style>
    .btn-margin {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>


<div class="row">
    <div class="col-md-12">
        <a href="/Chemistry/Tasks/CreateTask" class="btn btn-primary btn-margin">
            <i class="fa fa-plus-circle"></i>
            Создать задание
        </a>
    </div>
</div>

<div style="height:30px">

</div>

<div class="form-group m-form__group m--margin-top-10">
    <div class="alert m-alert m-alert--default" role="alert">
        Список задач назначенных исполнителям
    </div>
</div>

<div class="form-group m-form__group">
    @Html.Label("Искать по названию")
    @Html.DropDownList("SearchTasks.Q", tasksSelectList, new { id = "SearchTasks", @class = "form-control", style = "width:100%" })

</div>

<div class="form-group m-form__group">
    @Html.Label("Показывать исполнителя")
    @Html.DropDownList("SearchTasks.User", usersSelectList, new { id = "Users", @class = "form-control", style = "width:100%" })
</div>

<div class="form-group m-form__group">
    @Html.Label("Статус выполнения")
    @Html.DropDownList("SearchTasks.TaskStatus", statusSelect, new { @class = "form-control selectpicker" })
</div>

<div class="form-group m-form__group">
    @Html.Label("Сортировать по")
    @Html.DropDownList("SearchTasks.Sort", sortSelect, new { @class = "form-control selectpicker" })
</div>


<div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions">
        <div class="row">
            <div class="col-lg-9">
                <button type="reset" class="btn btn-brand form-action-btn">
                    <i class="fas fa-search"></i>
                    Искать
                </button>
                <button type="reset" class="btn btn-secondary form-action-btn-clear">
                    Очистить фильтр
                </button>
            </div>
        </div>
    </div>
</div>


<div style="height:30px">

</div>


<div class="form-group m-form__group m--margin-top-10">
    <div class="alert m-alert m-alert--default" role="alert">
        <h4>
            Выполненные задания 
            <span class="m-menu__link-badge">
                <span class="m-badge m-badge--success">@tasks.Count(x => x.IsPerformed)</span>
            </span>
        </h4>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h2>
            <span class="pull-right btn" onclick="$('#performedBody').fadeToggle()">[Показать/Скрыть]</span>
        </h2>
    </div>
</div>



<div class="table-responsive" id="performedBody">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    <strong>Название</strong>
                </th>

                <th>
                    <strong>Исполнитель</strong>
                </th>

                <th>
                    <strong>Крайний срок</strong>
                </th>

                <th>
                    <strong>Дата выполнения</strong>
                </th>

                <th>
                    <strong>Количество</strong>
                </th>

                <th>
                    <strong>Факт. колличество</strong>
                </th>

                <th>
                    <strong>Качество</strong>
                </th>

                <th>
                    <strong>Факт. качество</strong>
                </th>
            </tr>
        </thead>

        <tbody id="performed-tbody">
        </tbody>
    </table>
</div>


<div style="height:30px">

</div>

<div class="form-group m-form__group m--margin-top-10">
    <div class="alert m-alert m-alert--default" role="alert">
        <h4>
            Невыполненные задания
            <span class="m-menu__link-badge">
                <span class="m-badge m-badge--success">@tasks.Count(x => !x.IsPerformed)</span>
            </span>
        </h4>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        
        <h2>
            <span class="pull-right btn" onclick="$('#notPerformedBody').fadeToggle()">[Показать/Скрыть]</span>
        </h2>
    </div>

</div>



<div class="table-responsive" id="notPerformedBody">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    <strong>Название</strong>
                </th>

                <th>
                    <strong>Исполнитель</strong>
                </th>

                <th>
                    <strong>Крайний срок</strong>
                </th>

                <th>
                    <strong>Метод решения</strong>
                </th>

                <th>
                    <strong>Количество</strong>
                </th>

                <th>
                    <strong>Качество</strong>
                </th>
            </tr>
        </thead>

        <tbody id="not-performed-body">
        </tbody>
    </table>
</div>

<script src="~/js/moment-with-locales.min.js"></script>

<script src="~/js/TaskSearch.min.js"></script>

<script>
    var tasks = @Html.GetJson(tasks);

    var tasksFilter = new TasksFilter();

    tasksFilter.SetTasks(tasks);
    tasksFilter.ApplyFilter();
</script>

<script>

    function TasksSelect2() {

        $("#SearchTasks").select2({
            placeholder: "Введите название",

            "language": {
                "noResults": function () {
                    return "Задание не найдено.";
                }
            },
            escapeMarkup: function (markup) {
                return markup;
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function () {

        $(".form-action-btn").on("click", () => {
            tasksFilter.ApplyFilter();
        });

        $(".form-action-btn-clear").on("click", () => {
            tasksFilter.ClearFilter();
            TasksSelect2();
        });

        $("#User").select2({
            placeholder: "Выберите пользователя",

            "language": {
                "noResults": function () {
                    return "Пользователь не найден.";
                }
            },
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        TasksSelect2();
    })
</script>