@using FocLab.Logic.Models.Tasks
@{
    var task = (ChemistryTaskModel)ViewData["task"];

    var reagentSelectList = ViewData["reagentSelectList"] as List<SelectListItem>;
}

<h2>
    <strong>
        Реагенты используемые для задания
    </strong>

    <span class="m-badge m-badge--success">
        @task.Reagents.Count
    </span>
</h2>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <strong>Реагент</strong>
                </th>

                <th>
                    <strong>Получено (кг) </strong>
                    <i class="fa fa-info-circle" data-toggle="tooltip" title="Сколько килограмм реагента было получено со склада"></i>
                </th>

                <th>
                    <strong>Сдано (кг) </strong>
                    <i class="fa fa-info-circle" data-toggle="tooltip" title="Сколько килограмм реагента было возвращено обратно на склад"></i>
                </th>

                <th>
                    <strong>Расход (кг) <i class="fa fa-info-circle" data-toggle="tooltip" title="Данную колонку заполнять не нужно, она расчитывается автоматически ( 'Получено' - 'Сдано')"></i></strong>
                </th>

                <th>
                    <strong>Действия</strong>
                </th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>
                    @Html.DropDownList("Create.ReagentId", reagentSelectList, new { id = "Create_ReagentId", @class = "form-control" })
                </td>

                <td>
                    @Html.TextBox("Create.TakenQuantity", decimal.Zero, new { @class = "form-control", oninput= "ReplaceDotToComma(this)" })
                </td>

                <td>
                    @Html.TextBox("Create.ReturnedQuantity", decimal.Zero, new { @class = "form-control", oninput = "ReplaceDotToComma(this)" })
                </td>

                <td>
                    @Html.TextBox("Create.SpentQuantity", 0, new { @class = "form-control" })
                </td>

                <td>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary btn-block create-reagent-btn">
                                <i class="fa fa-plus-circle"></i>
                                Создать
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            @foreach(var reagent in task.Reagents)
            {
            <tr>
                <td>
                    <a href="/Chemistry/Reagents/Details/@reagent.Reagent.Id" target="_blank">
                        @reagent.Reagent.Name
                    </a>
                </td>

                <td>
                    @Html.TextBox($"Edit.TakenQuantity.{reagent.Reagent.Id}", reagent.TakenQuantity, new { @class = "form-control", oninput = "ReplaceDotToComma(this)" })
                </td>

                <td>
                    @Html.TextBox($"Edit.ReturnedQuantity.{reagent.Reagent.Id}", reagent.ReturnedQuantity, new { @class = "form-control", oninput = "ReplaceDotToComma(this)" })
                </td>

                <td>
                    @Html.TextBox($"Edit.SomeQuantity.{reagent.Reagent.Id}", reagent.TakenQuantity - reagent.ReturnedQuantity, new { @class = "form-control" })
                </td>

                <td>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-warning btn-block task-reagent-refresh" data-task-reagent-id="@reagent.Reagent.Id">
                                <i class="fa fa-refresh"></i>
                                Обновить данные
                            </button>

                            <button class="btn btn-danger btn-block task-reagent-delete" style="margin-top:5px" data-task-reagent-id="@reagent.Reagent.Id">
                                <i class="fas fa-trash"></i>
                                Удалить
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            }


        </tbody>

    </table>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        $("#Create.ReagentId").select2({
            placeholder: "Выберите реагент",

            "language": {
                "noResults": function() {
                    return "Реагент не найден.";
                }
            },
            escapeMarkup: function(markup) {
                return markup;
            }
        });
    });
</script>

<script src="~/src/FocLab/Task/TaskReagentWorker.js"></script>

<script>
    var taskReagentWorker = new TaskReagentWorker("@task.Id");

    document.addEventListener("DOMContentLoaded", () => {
        $(".task-reagent-refresh").on("click", e => window.taskReagentWorker.EditTaskReagent($(e.target).data("task-reagent-id")));
        $(".task-reagent-delete").on("click", e => window.taskReagentWorker.RemoveTaskReagent($(e.target).data("task-reagent-id")));
        $(".create-reagent-btn").on("click", e => window.taskReagentWorker.CreateTaskReagent());
    })

    
</script>