@using FocLab.Logic
@model List<FocLab.Model.Entities.ChemistryTaskExperiment>
@{
    Layout = ChemistrySettings.LayoutPath;
    ViewBag.Title = "Редактирование задания";
}

<div class="row">
    <div class="col-md-12">
        <a href="/Chemistry/Experiments/All" class="btn btn-primary">
            <i class="fa fa-list-ol"></i>
            Показать все эксперименты
        </a>
    </div>
</div>

<h2>
    Ваши эксперименты
</h2>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Задача
                </th>

                <th>
                    Дата создания
                </th>

                <th>
                    Действия
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach(var experiment in Model)
            {
                var _class = experiment.Deleted ? "danger" : "";

                <tr class="@_class">
                    <td>
                        <a href="/Chemistry/Experiment/@experiment.Id">
                            @experiment.ChemistryTask.Title
                        </a>
                    </td>

                    <td>
                        @experiment.CreationDate
                    </td>

                    <td>
                        <div class="row">
                            <div class="col-md-12">

                                @if(experiment.Deleted)
                                {
                                <a class="btn btn-block btn-warning" onclick="CancelRemovingExperiment('@experiment.Id')">
                                    <i class="fa fa-trash"></i>
                                    Отменить удаление
                                </a>
                                }
                                else
                                {
                                <a class="btn btn-block btn-danger" onclick="RemoveExperiment('@experiment.Id')">
                                    <i class="fa fa-trash"></i>
                                    Удалить
                                </a>
                                }

                                
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts{
    <script src="~/js/Experiments.min.js"></script>
}