@model FocLab.Logic.Models.Tasks.EditChemistryTask
@{
    Layout = FocLab.Logic.ChemistrySettings.LayoutPath;
    ViewBag.Title = "Редактирование задания";

    var fileMethodsSelectList = ViewData["fileMethodsSelectList"] as List<Microsoft.AspNetCore.Mvc.Rendering.SelectListItem>;

    var usersSelectList = ViewData["usersSelectList"] as List<Microsoft.AspNetCore.Mvc.Rendering.SelectListItem>;
}

<div class="row">
    <div class="col-md-12">
        <a href="/Chemistry/Tasks/Index" class="btn btn-primary">
            Список заданий
        </a> |

        <a href="/Chemistry/Methods/Index" class="btn btn-primary">
            Список методов решений
        </a>
    </div>
</div>

<div style="height:20px">

</div>

<div class="form-group m-form__group m--margin-top-10">
    <div class="alert m-alert m-alert--default" role="alert">
        @ViewBag.Title
    </div>
</div>



        @Html.HiddenFor(x => x.Id)

        <div class="form-group m-form__group">
            @Html.LabelFor(x => x.MethodFileId)
            @Html.DropDownList("MethodFileId", fileMethodsSelectList, new { id = "FileMethodsSelect", @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Title)
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.DeadLineDate)
            @Html.TextBoxFor(x => x.DeadLineDate, new { @class = "form-control" })
        </div>

        <div class="form-group m-form__group">
            @Html.LabelFor(x => x.PerformerUserId)

            @Html.DropDownListFor(x => x.PerformerUserId, usersSelectList, new { id = "PerformerSelect", @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.AdminQuality)
            @Html.TextBoxFor(x => x.AdminQuality, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.AdminQuantity)
            @Html.TextBoxFor(x => x.AdminQuantity, new { @class = "form-control" })
        </div>

        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions">
                <div class="row">
                    <div class="col-lg-9">
                        <button type="reset" class="btn btn-brand form-action-btn" onclick="EditTask()">Редактировать</button>
                        <button type="reset" onclick="location.href='/Chemistry/Methods/Index'" class="btn btn-secondary">Отмена</button>
                    </div>
                </div>
            </div>
        </div>


@section Scripts{
    <script>

        $("#FileMethodsSelect").select2({
            placeholder: "Выберите метод решения",

            "language": {
                "noResults": function() {
                    return "Метод решения не найден.";
                }
            },
            escapeMarkup: function(markup) {
                return markup;
            }
        });

        $("#PerformerSelect").select2({
            placeholder: "Выберите исполнителя",

            "language": {
                "noResults": function() {
                    return "Исполнитель не найден.";
                }
            },
            escapeMarkup: function(markup) {
                return markup;
            }
        });

        Utils.SetDatePicker("input[name='DeadLineDate']", new Date());

        function EditTask() {
            var data = {
                Id: "",
                FileMethodId: "",
                Title: "",
                DeadLineDate: "",
                PerformerId: "",
                Quality: "",
                Quantity: ""
            };

            data = CollectData(data);
            data.DeadLineDate = Requester.ParseDate(data.DeadLineDate);

            Requester.SendPostRequestWithAnimation("/Api/Chemistry/Tasks/Edit", data, x => {
                if (x.IsSucceeded) {
                    location.href = "/Chemistry/Chemistry/Index";
                }
            });
        }
    </script>
}
